//fonts
@font-face {
    font-family: axiforma;
    src: url(../fonts/axiforma/Kastelov-Axiforma-Thin.otf);
    font-weight: 100;
}

@font-face {
    font-family: axiforma;
    src: url(../fonts/axiforma/Kastelov-Axiforma-Light.otf);
    font-weight: 300;
}

@font-face {
    font-family: axiforma;
    src: url(../fonts/axiforma/Kastelov-Axiforma-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: axiforma;
    src: url(../fonts/axiforma/Kastelov-Axiforma-Medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: axiforma;
    src: url(../fonts/axiforma/Kastelov-Axiforma-SemiBold.otf);
    font-weight: 600;
}

@font-face {
    font-family: axiforma;
    src: url(../fonts/axiforma/Kastelov-Axiforma-Bold.otf);
    font-weight: 700;
}
@font-face {
    font-family: axiforma;
    src: url(../fonts/axiforma/Kastelov-Axiforma-Book.otf);
    font-weight: 750;
}
@font-face {
    font-family: axiforma;
    src: url(../fonts/axiforma/Kastelov-Axiforma-ExtraBold.otf);
    font-weight: 800;
}
@font-face {
    font-family: axiforma;
    src: url(../fonts/axiforma/Kastelov-Axiforma-Heavy.otf);
    font-weight: 850;
}

@font-face {
    font-family: axiforma;
    src: url(../fonts/axiforma/Kastelov-Axiforma-Black.otf);
    font-weight: 900;
}







//variables
$primary-color: #FF3B6A;
$color-white: #ffffff;
$dark-bg: #253745;
$body-bg: #06141B;
$footer-bg: #122125;