.ip_pagination {
    ul {
        li {
            a {
                display: inline-flex;
                width: 64px; 
                height: 64px;
                border-radius: 8px;
                background: transparent ;
                color: rgba($color-white, 0.4); 
                border: 1px solid rgba($color-white, 0.1);
                align-items: center;
                justify-content: center;

                &:hover {
                    background: rgba($color-white, 0.1);
                }

                &.active {
                    background: $primary-color;
                    color: $color-white;
                }
            }
        }
    }

    @include screen-992 {
        ul {
            li {
                a {
                    font-size: 12px; 
                    width: 40px; 
                    height: 40px;
                }
            }
        }
    }
}