/***** hero section *****/  
.ip_hero_section {
    padding: 320px 0 0;
    margin-top: -260px;
    overflow: hidden;
    &::before {
        content: ''; 
        position: absolute;
        left: 0;
        top: 0; 
        width: 100%;
        height: 100%;
        background: linear-gradient(231.41deg, rgba(0, 0, 0, 0) 8.26%, #0E151B 68.29%);
        z-index: -1;
    }

    @include screen-1200 {
        padding: 300px 0 80px;
    }
}

.ip_hero_left {
    .blur-shape {
        width: 160px; 
        height: 160px; 
        background: linear-gradient(180deg, #5685F5 0%, #89F9B6 100%);
        filter: blur(95px); 
        left: 10%; 
        top: -30px;
    }
    h1 {
        color: $color-white;
        margin-bottom: 24px;
        span {
            font-weight: 300;
        }
        .line-shape-wrapper {
            position: relative; 
            img {
                position: absolute;
                top: -70px; 
                right: -60px;
            }
        }
    }
    p {
        font-weight: 500;
        color: $color-white;
        margin-bottom: 32px;
    }
}

.ip_hero_slider {
    .swiper-slide {

        .img-wrapper {
            border-radius: 32px;
            overflow: hidden;
            display: inline-block;
            position: relative; 
            &::before {
                content: ''; 
                position: absolute; 
                top: 0;
                left: 0; 
                width: 100%; 
                height: 100%; 
                background: #000000;
                opacity: 0.6;
                transition: 0.3s; 
            }
        }

        &.swiper-slide-fully-visible {
            &.swiper-slide-active {
                .img-wrapper {
                    &::before {
                        opacity: 0;
                    }
                }
            }
        }

    }
    &.swiper-3d {
        .swiper-slide-shadow {
            background: transparent;
        }
    }
}


/**** feature section ****/ 
.ip_feature_section {
    background: #122429;
    padding: 52px 0;
    transform: rotate(-3deg);
    margin-top: -50px;
}
.ip_feature_content {
    h3 {
        color: $color-white; 
        font-weight: 800;
    }
    span {
        color: $color-white;
    }
    strong {
        font-weight: 800;
    }
    p {
        font-weight: 800;
        color: $color-white;
    }
}


/*** subscription section start ***/

.ip_subscription {
    padding: 150px 0;

    .ip_cd_shape {
        left: 50%; 
        top: 0; 
        transform: translateX(-50%);
    }

    .ip_sb_blur_shape{
        width: 245px; 
        height: 245px;
        position: absolute;
        left: 50%; 
        transform: translateX(-50%);
        top: 250px;
        background: linear-gradient(180deg, #5685F5 0%, #89F9B6 100%);
        opacity: 0.43;
        filter: blur(150px);
        z-index: -1;
    }

    @include screen-575 {
        .ip_cd_shape {
            top: 25px; 
            width: 160px; 
            left: 30%;
        }
    }
}

.ip_explore_wrapper {
    margin-top: -100px; 
    margin-bottom: 100px;
}

.ip_explore_btn {
    color: $color-white;
}

.ip_sp_card {
    background:#0B1C21;
    padding: 60px 40px;
    transform: rotate(-3deg);
    clip-path: polygon(85% 0, 100% 20%, 100% 100%, 0 100%, 0 0);
    position: relative; 
    z-index: 1; 

    &::before {
        content: ''; 
        position: absolute;
        left: 7px;
        top: 7px;
        width: calc(100% - 14px);
        height: calc(100% - 14px);
        background: #122429;
        z-index: -1;
        clip-path: polygon(85% 0, 100% 20%, 100% 100%, 0 100%, 0 0);
    }
}


/***** series section ****/
.ip_series_slider_wrapper {
    .ip_monitor_shape {
        position: absolute; 
        right: -10px; 
        top: -130px; 
        z-index: 2;

        @include screen-2200 {
            top: -108px;
        }

        @include screen-1800 {
            top: -40px; 
            width: 500px;
        }

        @include screen-768 {
            display: none;
        }
    }
}
.ip_series_slider {
    transform: rotate(-3deg);
    .swiper-wrapper {
        transition-timing-function: linear !important;
    }
    .swiper-slide {
        width: auto;
    }
    .ip_series_thumb {
        display: inline-block; 
        width: 180px;
        border-radius: 24px;
        overflow: hidden;
        opacity: 0.6;
    }
}

/**** brand section ****/ 
.ip_brand_section {
    background: #122429;
    transform: rotate(-3deg);
    padding: 80px 0;
    z-index: 10;
    margin-top: 60px;

}

.ip_brand_slider {
    .swiper-wrapper {
        transition-timing-function: linear !important;
    }
    .swiper-slide {
        width: auto;
    }
}

/****** pricing section start *****/ 
.ip_pricing_section {
    position: relative;
    z-index: 1;
    padding-top: 300px;

    .ip_camera_shape {
        position: absolute;
        right: 0;  
        top: -330px;
    }

    @include screen-992 {
        .ip_camera_shape {
            display: none;
        }
    }
}

.ip_pricing_slider {
    width: calc(100% + 800px);
    margin-left: -400px;
    padding-top: 60px;

    .swiper-slide {
        transition: 0.3s;
    }

    .swiper-slide-active {
        transform: translateY(-60px);
    }
}

.ip_slider_pagination {
    text-align: center;
    margin-top: 32px;
    .swiper-pagination-bullet {
        width: 60px; 
        height: 4px; 
        background: rgba($color-white, 0.2);
        display: inline-block;
        opacity: 1;
        border-radius: 0;

        &.swiper-pagination-bullet-active {
            background: $primary-color;
        }
    }
}


.pricing_card_wrapper {
    position: relative;
    padding-top: 10px;

    .popular_bade {
        position: absolute;
        left: 50%; 
        top: 0;
        transform: translateX(-50%);
        background: $primary-color; 
        padding: 6px 12px;
        color: $color-white;
        font-size: 14px;
        z-index: 2;

        &::before {
            content: ''; 
            position: absolute; 
            top: 0; 
            right: -10px; 
            width: 10px; 
            height: 10px; 
            background: #AD2042;
            clip-path: polygon(0 0, 0% 100%, 100% 100%);
        }
    }
}


.ip_pricing_card {
    clip-path: polygon(85% 0, 100% 7%, 100% 100%, 0 100%, 0 0);
    border-radius: 12px;
    overflow: hidden;
    position: relative;

    

    .ip_pricing_card_content {
        background: #1B3036;
        padding: 46px 30px 30px;

        .ip_pricing_card_header {
            h2 {
                font-size: 40px;
                line-height: 20px;
                span {
                    font-size: 16px; 
                    color: rgba($color-white, 0.4);
                 }

            }
        }
    }
    .ip_pricing_feature_list {
        margin-top: 60px;
        li {
            display: block; 
            padding: 20px 0;
            color: #CCD0CF;
            border-bottom: 1px dashed #ccd0cf61;

            i {
                margin-right: 10px;
            }
            
        }
    }

    .ip_pricing_brand_wrapper {
        gap: 64px;
        background: #13242A; 
        padding: 40px;
    }
}

.ip_star_review {
    display: inline-flex;
    align-items: center; 
    gap: 4px;
    li {
        color: #FFE74A;
        font-size: 14px;
        i {
            &.fa-regular {
                color: rgba($color-white, 0.2);
            }
        }

    }
}


/****** testimonial section start *********/

.ip_testimonial_section {
    padding-top: 100px;
}
.ip_testimonial_slider {
    max-width: 850px;

    .swiper-slide {
        overflow: visible;
    }

    .swiper-slide-shadow {
        display: none;
    }
}
.ip_testimonial_card {
    border-radius: 33px; 
    background: #1E3B44;
    padding: 60px 90px 34px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.259);

    .ip_tst_bottom {
        margin-top: 32px;
        padding-top: 60px;
        position: relative;
        overflow: hidden;

        &::before {
                content: '----------------------------------------';
                letter-spacing: 10px;
                position: absolute;
                top: 0;
                left: 0;
                color: rgba($color-white, 0.2);
                white-space: nowrap;
                font-size: 14px;
        }
    }

    .ip_author_thumbnail {
        border-radius: 40px;
        overflow: hidden;
    }

    .ip_tst_author_content {
        h5 {
            span {
                font-size: 14px;
                color: rgba($color-white, 0.6);
            }
        }
    }
    .likes-count {
        svg {
            transform: translateY(-2px);
        }
    }

    @include screen-992 {
        padding: 60px 32px 34px;
    }
}


/***** faq section start *****/
.ip_faq_section {
    padding: 100px 0;

}

.ip_accordion {
    .accordion-item {
        background: #122429;
        border: 1px solid rgba($color-white, 0.1);
        padding: 40px 32px;
        border-radius: 12px;

        .accordion-header {
            a {
                color: $color-white;
                font-size: 18px;
                display: block;
                position: relative;

                &::after {
                    content: '\f106';
                    font-family: 'FontAwesome';
                    position: absolute;
                    right: 0; 
                    top: 0;
                    transition: 0.3s;
                }

                &.collapsed {
                    &::after {
                        transform: rotate(180deg);
                    }
                }
            }

        }

        p{
            color: rgba($color-white, 0.6);
        }

        .accordion-body {
            padding: 0; 
            padding-top: 16px;
        }

        + .accordion-item {
            margin-top: 12px;
        }
    }
}


/***** blog section ****/

.ip_blog_section {
    padding: 100px 0;
}

.ip_blog_card {
    background-repeat: no-repeat;
    background-size: cover; 
    min-height: 240px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;

    &::before {
        content: ''; 
        position: absolute;
        left: 0; 
        top: 0; 
        width: 100%; 
        height: 100%;
        background: rgba(0,0,0,0.35);
    }

    .ip_blog_card_content {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 0 16px 24px;
    }

    h4 {
        color: $color-white;
        font-size: 16px;
        line-height: 1.3em;
    }

    span {
        color: rgba($color-white, 0.6);
        font-size: 15px;
    }
}